@import "bootstrap";	

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.col-center{
  margin:0 auto;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: serif;
  font-weight:400;
  color: DarkBlue;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.table td, .table th {
  text-align: center;
}


.reimbursement_id {
  display:none;
}
.name-column {
  width: 100px;
}
.date-column {
  width:200px;
}
.tournament-column {
  width:150px;
}
.expense-column {
  width:100px;
}
.amount-column {
  width:70px;
}
.comments-column {
  width:200px;

}
.receipt-column {
  width:60px;
}
.status-column {
  width:85px;
}
.delete-column {
  width:50px;
}
table.dataTable thead th, table.dataTable thead td {
  padding:5px 10px;
}

.edit-select > select {
  width:95px;
}

.dataTables_filter {
  position:relative;
  left:-20px;
}
input[type=search] {
  position:relative;
  top:4px;
}